<div class="friend_block" draggable="true">
    <div class="photo">
        <img src="{{photo_50}}" alt="">
    </div>
    <div class="name">{{first_name}} {{last_name}}</div>
    <div class="action">
        <img data-id="{{id}}" src="/images/icons/plus.png">
    </div>    
</div>