<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="stylesheet" href="{{htmlWebpackPlugin.options.style}}">
</head>
<body>
    <div id="popup">
        <div id="popup_auth" class="popup_item">
            <div class="popup_item_title">Авторизация</div>
            <div class="popup_item_inner_block">
                <div id="auth_inputs">
                    <input type="text" placeholder="ФИО" value="">
                    <input type="text" placeholder="Ник" value="">
                </div>
                <div class="button" id="button_auth" onselectstart="return false" onmousedown="return false">Войти</div>
            </div>
        </div>
        <div id="popup_load_photo" class="popup_item">
            <div class="popup_item_title">Загрузка фото (JPEG не более 512 Кб)</div>
            <div class="popup_item_inner_block">
                <div id="popup_photo_block">
                    <div>Перетащите фото сюда</div>
                </div>
                <div class="button" id="button_load_photo" onselectstart="return false" onmousedown="return false">Загрузить</div>
                <div class="button" id="button_cancel_load_photo" onselectstart="return false" onmousedown="return false">Отмена</div>
            </div>
        </div>
    </div>
    <div id="container">
        <div id="left_block">
            <div id="current_user">
                <div id="current_user_photo">
                    <div class="image_center" style="background-image: url('/src/img/no_image.png');"></div>
                </div>
                <div id="current_user_name">Добро пожаловать!</div>
            </div>
            <div id="block_online_users">
                <div id="title_online_users">Участники (<span id="count_online_users"></span>)</div>
                <div id="content_online_users"></div>
            </div>
        </div>
        <div id="right_block">
            <div id="block_messages"></div>
            <div id="block_send">
                <div id="input_message">
                    <input type="text" placeholder="Введите сообщение">
                </div>
                <div id="send_message" onselectstart="return false" onmousedown="return false">
                    <div>Отправить</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>