<div class="message">
    <div class="photo image_center" style="background-image: url('{{photoUrl}}');"></div>
    <div class="data-message">
        <div><span class="name">{{userName}} </span><span class="time">{{time}}</span></div>
        <div class="message-content">{{message}}</div>
    </div>
</div>