<div class="message">
    <div class="photo"><div>No Photo</div></div>
    <div class="data-message">
        <div><span class="name">{{userName}} </span><span class="time">{{time}}</span></div>
        <div class="message-content">{{message}}</div>
    </div>
</div>