<div id="header">
    <div id="address"></div>
    <div id="close_window_reviews"></div>
</div>
<div id="reviews">
    <span id="empty">Отзывов пока нет...</span>
</div>
<div id="form_review">
    <div id="line"></div>
    <span id="review_title">Ваш отзыв</span><br>
    <div>
        <input type="text" id="name" placeholder="Ваше имя">
    </div>
    <div>       
        <input type="text" id="place" placeholder="Укажите место">
    </div>
    <div>
        <textarea rows="5" cols="30" id="review" placeholder="Поделитесь впечатлениями"></textarea>    
    </div>    
</div>
<div id="footer">
    <span id="add-point-button">Добавить</span>
</div>