<div id="header">
    <span>Выберите друзей</span>
</div>
<div id="search">
    <div class="blocks" id="search_left">
        <input type="text" placeholder="Начните вводить имя друга">
    </div>
    <div class="blocks" id="search_right">
        <input type="text" placeholder="Начните вводить имя друга">
    </div>
</div>

<div>
    <div class="blocks" id="title_left"><span>Ваши друзья</span></div>
    <div class="blocks" id="title_right"><span>Друзья в списке</span></div>
        
    <div class="blocks" id="friends_left"></div>
    <div class="blocks" id="friends_right"></div>    
</div>
<div id="footer">
    <div>Сохранить</div>
</div>